body {
    text-align: center;
    background-color: #f5fced;
    font-family: Helvetica;
}

a {
	background: #dde8d0;
    color: #000a1a;
	text-decoration: none;
	padding: 8px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 9px;
    font-size: 15px
	
}

a:hover {
	background: #eee;
    color:white;

}

a:active {
	background:#effce0 ;
	color: white;

}


h1 {
    color: #d1f9c0;
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray, 1px 1px 2px black;
}

table {
    margin: auto;
    border: 1px solid gray;
    /*border-collapse: collapse;*/
    width: 600px;
    
}

.taust {
    background-color: white;
    width: 700px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid gray;
}

.logimine {
    margin-left: 30px;
    margin-right: 30px;
    width: 250px;
    display: inline-block;
    float: left;
    
    
}

.logisisse {
    padding-right: 200px;
    font-size: 20px;
    text-align: left;
    margin-bottom: 100px;
    color: #d1f9c0;
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray, 1px 1px 2px black;
}

.registreerumine {
    margin-right: 30px;
    margin-left: 30px;
    width: 300px;
    display: inline-block;
    float: left;
    
}

.registreeru {
    margin-right: auto;
    font-size: 20px;
    text-align: right;
    color: #d1f9c0;
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray, 1px 1px 2px black;
    
}

.taust-ankeet {
    background-color: white;
    width: 700px;
    height: 1200px;
    margin: 0 auto;
    border: 1px solid gray;
}
