body {
    text-align: center;
    font-family: Helvetica;
    background-image: url("../pictures/taust2.4.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
    text-align: 0 auto;
    color: #076032;
}

a {
	text-decoration: none;
	padding: 8px;	
	color: #076032;
    	font-size: 13px;
    	margin: 20px;
	
}

a:hover {
	background: #eee;
    	color:white;

}

a:active {
	background:#effce0 ;
	color: white;

}


.pealkiri {
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray, 1px 1px 2px black;
    color: #88cc14;
    font-family: 'Tangerine', serif;
    font-size: 60px;
}

table {
    margin: auto;
    width: 600px;
    text-align: center;
}
td{
    padding: 10px;
}
th{
    padding: 10px;
    text-align: center;
}

.taust {
    background-color: white;
    width: 700px;
    height: 400px;
    margin: 0 auto;
}

.logimine {
    margin-left: 30px;
    margin-right: 30px;
    width: 250px;
    display: inline-block;
    float: left;
    
}

.logisisse {
    padding-right: 200px;
    font-size: 20px;
    text-align: left;
    margin-bottom: 100px;
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray, 1px 1px 2px black;
    color: #88cc14;
}

.registreerumine {
    text-align: left;
    margin-right: 30px;
    margin-left: 30px;
    width: 300px;
    display: inline-block;
    float: left;
    
}

.registreeru {
    margin-right: auto;
    font-size: 20px;
    text-align: right;
    color: #88cc14;
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray, 1px 1px 2px black;
    
}

.taust-ankeet {
    margin: 0 auto;
}
img{
    width: 300px;
    height:200px
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #b2e064;
    height: 60px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-right: 40px;
    padding-left: 60px;
    font-family: 'Tangerine', serif;
    font-size: 30px;
}

li a:hover {
    background-color: #cdf785;
}
div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.keskel {
    margin-left: 30px;
    text-align: left;
    max-width: 800px;
;
}

.unustasidparooli {
    margin-right: 370px;
}

.tagasi {
    margin-top: 350px;
}
.treener1{
    margin-left: 190px;
    width: 1000px;
    height: 300px;
    padding: 20px;
    background-color: white;
    opacity: 0.9;
}
.meist{
    color: #67a048;
    font-family: 'Tangerine', serif;
    font-size: 30px;
    font-weight: bold;
}

.whitebackground {
  margin: 0 auto;
  width: 900px;
  min-height: 455px;
  height: auto;
  padding: 20px;
  background-color: white;
  opacity: 0.9;
}

.treenermenyy{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding-right: 30px;
    padding-left: 150px;
    font-family: 'Tangerine', serif;
    font-size: 30px;
}
.treenerlogimine {
    margin-left: 30%;
    width: 250px;
    display: inline-block;
    float: left;
    
}
.logisissetreener {
    margin-right: 50px;
    font-size: 20px;
    text-align: left;
    margin-bottom: 100px;
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray, 1px 1px 2px black;
    color: #88cc14;
}
